<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtaqskAgo2fc8V-RBNpZ8DBL-6LM8yCug</string>
	<key>GCM_SENDER_ID</key>
	<string>882458850896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nwsHuydqEcommerceFlutter</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-b1005</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-b1005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882458850896:ios:dc8c10ad85303bd5850355</string>
</dict>
</plist>